body{

    background: rgb(29, 29, 199);
    background-image: url('https://i.pinimg.com/originals/89/b4/19/89b4198d2d3fc5007510626163b7759f.jpg');
    background-size: cover;
}





#login{  

    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 15px;
    right: 100px;
    margin: 0;
    padding: 10px;
    text-align: right;

}

#button_login{

    background: rgb(173, 173, 255);

    border: none;

    cursor: pointer;

    border-radius: 0.35em;

}

#sign-in{

    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 15px;
    right: 15px;
    margin: 0;
    padding: 10px;
    text-align: right;


}




h1 { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 2px;
    font-size: 25px;
}

