body{

  background: rgb(29, 29, 199);
  background-image: url('https://i.pinimg.com/originals/89/b4/19/89b4198d2d3fc5007510626163b7759f.jpg');
  background-size: cover;

}

.box{

  border: 6px;
  border-style: solid;
  border-image: linear-gradient(45deg,cyan,#065968) 1 ;
  margin-right: 1100px;

}

header{  

  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 15%;
  height: 0vh;
  display: flex;
  

}

#button{

  text-align: center;
  margin-right: 50px;


}

h1 { 
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 5px;
  font-size: 25px;
}

