<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="https://m.media-amazon.com/images/I/71b+AVHcDrL._SL1400_.jpg">
    <audio autoplay volume="0.5">
        <source src="/mp3/Un Beso Y Una Flor.mp3" type="audio/mpeg">
        <source src="/mp3/Un Beso Y Una Flor.mp3" type="audio/ogg">
        <source src="/mp3/Un Beso Y Una Flor.mp3" type="audio/wav">
    </audio>
</body>

</html>