body{
  background-image: url('https://i.pinimg.com/originals/89/b4/19/89b4198d2d3fc5007510626163b7759f.jpg');
  
  background-repeat: no-repeat;

  background-position: center center;

  background-size: cover;

  background-attachment: fixed;

}

.box{

  border: 6px;

  border-style: solid;

  border-image: linear-gradient(45deg,cyan,#065968) 1 ;
  
  margin-right: 1400px;

  height: 450px;

  
}
header{

  flex-direction: column;

  margin-top: 15%;

  margin-left: 15%;

  height: 0vh;

  display: flex;

  
}

#button{
  
  margin-left: 75px;

  

}
h1 { 
  font-family:Georgia, 'Times New Roman', Times, serif;

  margin: 5px;

  font-size: 25px;
}

