body{

  font-family: Arial, Helvetica, 'sans-serif';
  background-image: url('https://i.pinimg.com/originals/89/b4/19/89b4198d2d3fc5007510626163b7759f.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}
.box{
  background-image: url('https://i.pinimg.com/originals/89/b4/19/89b4198d2d3fc5007510626163b7759f.jpg');
  width: 400px;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 250px;
  margin-left: 60px;
  border-radius: 0.5em;
  text-align: center;
}
#button{
  margin-top:10px;
  border-radius: 0.5em;
  
}
.email {
  margin-top: 50px;
 }